In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import data_loading
from sklearn.manifold import TSNE

%matplotlib inline
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
msr = data_loading.MSR()
word_doc = msr.train_word_document_cooccurance()

  0%|          | 2/522 [00:00<00:26, 19.49it/s]

Loading vocab

100%|██████████| 522/522 [00:31<00:00, 16.40it/s]
2it [00:00, 17.08it/s]

Generating matrix.

522it [00:48, 10.78it/s]

In [5]:
word_doc.head()

,04TOM10.TXT,05TOM10.TXT,07WOZ10.TXT,08WOZ10.TXT,09TOM10.TXT,09WOZ10.TXT,10EVM10.TXT,10WOZ10.TXT,11WOZ10.TXT,12TOM10.TXT,...,WUTHR10.TXT,WWALS10.TXT,WWEND10.TXT,WWHIT10.TXT,WWILL10.TXT,YANKE11.TXT,YLFRY10.TXT,YNKGP10.TXT,YOUTH10.TXT,ZENDA10.TXT
the,3121.0,2525.0,3516.0,2656.0,2228.0,2792.0,7820.0,3150.0,3031.0,2465.0,...,4289.0,14554.0,12175.0,13457.0,3364.0,5543.0,7770.0,338.0,783.0,2756.0
and,1128.0,1051.0,1932.0,1763.0,993.0,1615.0,3649.0,1884.0,1574.0,1073.0,...,4236.0,6752.0,12478.0,6731.0,2865.0,5285.0,4452.0,172.0,431.0,1713.0
of,1010.0,919.0,1200.0,1098.0,773.0,986.0,4244.0,1316.0,1096.0,887.0,...,2210.0,7780.0,6197.0,7156.0,1361.0,3123.0,2021.0,260.0,422.0,1138.0
to,1201.0,1136.0,1476.0,1290.0,1125.0,1275.0,3083.0,1531.0,1291.0,1131.0,...,3444.0,5468.0,4944.0,8220.0,1328.0,2947.0,3052.0,117.0,292.0,1343.0
a,897.0,931.0,1290.0,955.0,874.0,950.0,2841.0,883.0,895.0,873.0,...,2257.0,6684.0,3576.0,3480.0,1239.0,3152.0,2255.0,143.0,391.0,1188.0

In [14]:
msr = data_loading.MSR()
word_word = msr.train_word_word_cooccurance()

  1%|          | 3/522 [00:00<00:19, 26.80it/s]

Loading vocab

100%|██████████| 522/522 [00:32<00:00, 15.99it/s]
  0%|          | 0/522 [00:00<?, ?it/s]

Generating matrix. WARNING: This takes a VERY long time.

100%|██████████| 522/522 [07:22<00:00,  1.07it/s]

In [15]:
msr = data_loading.MSR()
word_word = msr.train_word_word_cooccurance(vocab_size=30000)

  0%|          | 2/522 [00:00<00:27, 18.91it/s]

Loading vocab

100%|██████████| 522/522 [00:36<00:00, 14.48it/s]
  0%|          | 0/522 [00:00<?, ?it/s]

Generating matrix

100%|██████████| 522/522 [11:18<00:00,  1.06s/it]

In [16]:
word_word.head()

,the,and,of,to,a,in,I,was,that,he,...,Lying,cowed,"obstacle,",tack,frightens,"wait,""",doubts.,"cease,","impressions,",answers.
the,1131572.0,1550745.0,2296095.0,1063379.0,584007.0,820697.0,364231.0,557564.0,425038.0,363692.0,...,110.0,92.0,92.0,108.0,42.0,40.0,50.0,108.0,54.0,52.0
and,1550745.0,301235.0,764192.0,628962.0,544193.0,381574.0,258535.0,320680.0,226840.0,252014.0,...,50.0,60.0,48.0,50.0,36.0,10.0,22.0,80.0,50.0,34.0
of,2296095.0,764192.0,240878.0,419360.0,614168.0,357706.0,186324.0,282646.0,224676.0,162260.0,...,40.0,46.0,38.0,34.0,24.0,8.0,32.0,28.0,56.0,24.0
to,1063379.0,628962.0,419360.0,199556.0,371204.0,217620.0,320039.0,266894.0,227447.0,238138.0,...,10.0,30.0,54.0,50.0,18.0,40.0,32.0,58.0,54.0,22.0
a,584007.0,544193.0,614168.0,371204.0,155628.0,316379.0,183927.0,265732.0,158178.0,163978.0,...,26.0,18.0,18.0,38.0,20.0,20.0,20.0,10.0,32.0,12.0